{% load staticfiles %}
{% load mathfilters %}
{% include "includes/landing_top.html" %}

<body>
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	<div data-vide-bg="{% static 'video/cook.mp4' %}">
		<!-- banner -->
		{% include "includes/banner.html" %}
		<!-- //banner -->
	</div>
	<!-- special -->
	<div class="special">
		<div class="container">
			<div class="special-heading">
				<h3>Today Specials</h3>
			</div>
			<div class="special-grids">
			{% for f in food %}
					<div class="col-md-4 w3l-special-grid">
						<a href="{% url 'hotel:food_details' f.id %}">
							<div class="col-md-6 w3ls-special-img" style="background: url('/media/{{f.image}}') no-repeat -17px 0px; background-size: cover;">
								<div class="w3ls-special-text effect-1">
									<h4>{{f.name|truncatechars:11}}</h4>
								</div>
							</div>
						</a>

						<div class="col-md-6 agileits-special-info">
							<a href="{% url 'hotel:food_details' f.id %}"><h4>{{f.name|truncatechars:11}}</h4></a>
							<p>{{f.content_description|truncatechars:90}}</p>
						</div>
					</div>
			{% endfor %}
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special -->
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="features-heading">
				<h3>Our Features</h3>
			</div>
			<div class="features-grids">
				<div class="col-md-4 features-left">
					<div class="features-left-info">
					</div>
				</div>
				<div class="col-md-8 features-right">
					<div class="features-right-info">
						<h4>Quisque scelerisque mollis lacus, nec commodo lacus posuere quis. Aliquam erat volutpat. Sed laoreet, felis vitae viverra aliquet, magna nulla tincidunt odio, at laoreet nisi nisl sit amet risus. Suspendisse ullamcorper tempus eros, eget aliquam eros tincidunt in.</h3>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-asterisk" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-money" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-cog" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	<!-- customer -->
	<div class="customer">
		<div class="container">
			<div class="customer-heading">
				<h3>What Our Customers are Saying</h3>
			</div>
			<div class="customer-heading-grids">
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Etiam euismod leo in felis imperdiet, non interdum diam egestas. Aliquam non ex eget lorem vulputate auctor. Etiam sit amet nibh non tortor posuere mollis non vel velit. Praesent porttitor elit nec dapibus bibendum.</p>
					</div>
					<div class="customer-img">
						<img src="{% static 'images/c1.jpg' %}" alt="" />
						<h5>Dapibus</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Etiam euismod leo in felis imperdiet, non interdum diam egestas. Aliquam non ex eget lorem vulputate auctor. Etiam sit amet nibh non tortor posuere mollis non vel velit. Praesent porttitor elit nec dapibus bibendum.</p>
					</div>
					<div class="customer-img">
						<img src="{% static 'images/c2.jpg' %}" alt="" />
						<h5>Vulputate</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Etiam euismod leo in felis imperdiet, non interdum diam egestas. Aliquam non ex eget lorem vulputate auctor. Etiam sit amet nibh non tortor posuere mollis non vel velit. Praesent porttitor elit nec dapibus bibendum.</p>
					</div>
					<div class="customer-img">
						<img src="{% static 'images/c3.jpg' %}" alt="" />
						<h5>Interdum</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //customer -->
	{% include "includes/footer.html" %}