{% load staticfiles %}
{% load mathfilters %}
{% include "includes/landing_top.html" %}

<body>
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	<div data-vide-bg="{% static 'video/cook.mp4' %}">
		<!-- banner -->
		{% include "includes/banner.html" %}
		<!-- //banner -->
	</div>
	<!-- menu -->
	<div class="menu">
		<div class="container">
			<div class="menu-heading">
				<h2>Our Menu</h2>
			</div>
			<div class="menu-top-grids">
				{% for food in foods %}
				{% if forloop.counter0|mod:4 == 1 %}
				<div class="w3ls-menu-grids">
				{% endif %}
					<div class="col-md-3 menu-grid">
						<div class="agile-menu-grid">
							<a href="{% url 'hotel:food_details' food.id %}">
								<img src="/media/{{food.image}}" alt="" height="200px" width="200px"/>
								<div class="agileits-caption">
									<h4>{{food.name}}</h4>
									<p><i class="fa fa-inr"></i> {{food.sale_price}}</p>
								</div>
							</a>
						</div>
					</div>
					<!--{% if forloop.counter0|mod:4 == 0 %}-->
						<!--<div style="height:100px;"></div>-->
					<!--{% endif %}-->

				{% if forloop.counter0|mod:4 == 1 %}
				</div>
				{% endif %}
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //menu -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="footer-heading">
					<h3>Get in touch with us</h3>
				</div>
				<div class="footer-icons">
					<ul>
						<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><span>Twitter</span></li>
						<li><a href="#" class="twitter facebook"><i class="fa fa-facebook"></i></a><span>Facebook</span></li>
						<li><a href="#" class="twitter chrome"><i class="fa fa-google-plus"></i></a><span>Google +</span></li>
						<li><a href="#" class="twitter dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a><span>Dribbble</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="w3agile-list">
				<ul>
					<li><a href="about.html">About</a></li>
					<li><a href="menu.html">Menu</a></li>
					<li><a href="codes.html">Codes</a></li>
					<li><a href="news.html">News & Events</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="agileinfo">
				<p>© 2016 Tasty . All Rights Reserved . Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
	<!-- //copyright -->
</body>	
</html>