{% load staticfiles %}

        <div class="banner">
			<div class="container">
				<div class="header">
					<div class="logo">
						<h1><a href="index.html">Caviar</a></h1>
					</div>
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="active" href="index.html">Home</a></li>
									<li><a href="menu.html">Menu</a></li>
									<li><a href="contact.html">Contact</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</nav>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="banner-info">
					<h2>Tasty food served at your doorstep</h2>
					<p>Experience the fastest delivery. Order now and get your food at your doorstep in 30 minutes!</p>
				</div>
				<div class="banner-grads">
					<div class="col-md-4 banner-grad">
						<div class="banner-grad-img">
							<img src="{% static 'images/b1.jpg' %}" alt="" />
							<h4>Indian</h4>
						</div>
					</div>
					<div class="col-md-4 banner-grad">
						<div class="banner-grad-img">
							<img src="{% static 'images/b2.jpg' %}" alt="" />
							<h4>Chinese</h4>
						</div>
					</div>
					<div class="col-md-4 banner-grad">
						<div class="banner-grad-img">
							<img src="{% static 'images/b3.jpg' %}" alt="" />
							<h4>Continental</h4>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>