<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="footer-heading">
                <h3>Get in touch with us</h3>
            </div>
            <div class="footer-icons">
                <ul>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <span>Twitter</span>
                    </li>
                    <li>
                        <a href="#" class="twitter facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <span>Facebook</span>
                    </li>
                    <li>
                        <a href="#" class="twitter chrome">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <span>Google +</span>
                    </li>
                    <li>
                        <a href="#" class="twitter dribbble">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                        <span>Dribbble</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="w3agile-list">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="{% url 'hotel:menu' %}">Menu</a>
                </li>
                <li>
                    <a href="#">Codes</a>
                </li>
                <li>
                    <a href="#">News & Events</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="agileinfo">
            <p>© 2018 Reflex . All Rights Reserved .
            </p>
        </div>
    </div>
</div>
<!-- //copyright -->
</body>

</html>