{% load staticfiles %}

<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>
<script src="{% static 'vendor/raphael/raphael.min.js'%}"></script>
<script src="{% static 'vendor/morrisjs/morris.min.js'%}"></script>
<script src="{% static 'data/morris-data.js'%}"></script>
<script src="{% static 'dist/js/sb-admin-2.js'%}"></script>

</body>

</html>