{% load staticfiles %}
{% include "includes/base.html" %}
{% include "includes/navbarheader.html" %}
{% include "includes/navtop.html" %}
{% include "includes/sidemenu.html" %}

</nav>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{comments}}</div>
                            <div>Total Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{customers}}</div>
                            <div>Total Customers!</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'hotel:users_admin' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{orders}}</div>
                            <div>Total Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'hotel:orders_admin' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{sales}}</div>
                            <div>Total Sales!</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'hotel:sales_admin' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Top Customers
                        </div>
                        <!-- /.panel-heading -->
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Customer Name</th>
                              <th scope="col">#Orders</th>
                              <th scope="col">Total Sale</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for customer in top_customers %}
                            <tr>
                              <td>{{customer.customer.first_name}} {{customer.customer.last_name}}</td>
                              <td>{{customer.orders}}</td>
                              <td>{{customer.total_sale}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Latest Orders
                        </div>
                        <!-- /.panel-heading -->
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Location</th>
                              <th scope="col">Customer Name</th>
                              <th scope="col">Type</th>
                              <th scope="col">Order Timestamp</th>
                              <th scope="col">Total Amount</th>
                              <th scope="col">Satus</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for order in latest_orders %}
                            <tr>
                              <td>{{order.id}}</td>
                              <td>{{order.location}}</td>
                              <td>{{order.customer.customer.first_name}} {{order.customer.customer.last_name}}</td>
                              <td>Delivery</td>
                              <td>{{order.order_timestamp}}</td>
                              <td>{{order.total_amount}}</td>
                              <td>
                                  {% if order.delivery_status == "Completed" %}
                                    <span class="label label-success">Delivered</span>
                                  {% elif order.delivery_status == "Processing" %}
                                    <span class="label label-warning">Processing</span>
                                  {% else %}
                                    <span class="label label-danger">Pending</span>
                                  {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>

            <div id="chart_div" style="width: 100%; height: 500px;"></div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{% include "includes/scripts.html" %}