{% load staticfiles %}
{% include "includes/base.html" %}
{% include "includes/navbarheader.html" %}
{% include "includes/navtop.html" %}
{% include "includes/sidemenu.html" %}

        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Orders Information</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List of all Orders
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Customer's Name</th>
                                        <th>Order Status</th>
                                        <th>Order Time</th>
                                        <th>Amount</th>
                                        <th>Payment Method</th>
                                        <th>Payment Status</th>
                                        <th>Delivery Status</th>
                                        <th>Delivery Boy</th>
                                        <th>Confirm Payment</th>
                                        <th>Confirm Delivery</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer.customer.first_name}} {{order.customer.customer.last_name}}</td>
                                        <td>{% if order.if_cancelled == False %}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            {% else %}
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            {% endif %}
                                        </td>
                                        <td>{{order.order_timestamp}}</td>
                                        <td>{{order.total_amount}}</td>
                                        <td>{{order.payment_method}}</td>
                                        <td>{% if order.payment_status == 'Completed' %}
                                            <span class="label label-success">Paid</span>
                                            {% else %}
                                            <span class="label label-danger">Pending</span>
                                            {% endif %}
                                        </td>
                                        <td>{% if order.delivery_status == 'Completed' %}
                                            <span class="label label-success">Delivered</span>
                                            {% else %}
                                            <span class="label label-danger">Pending</span>
                                            {% endif %}
                                        </td>
                                        <td>{% ifequal order.delivery_boy None %}
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addFood">Add</button>
                                                </span>
                                                <br><br>
                                                <div id="addFood" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Add Delivery Boy</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="POST" action="{% url 'hotel:add_deliveryBoy' order.id %}" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="deliveryBoy">DeliveryBoy:</label>
                                                                        <select class="dropdown" id="deliveryBoy" name="deliveryBoy">
                                                                            <option selected="selected">------</option>
                                                                            {% for d in dBoys %}
                                                                                <option value="{{d.staff_id.first_name}}">{{d.staff_id.first_name}} {{d.staff_id.last_name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            {% else %}
                                            {{order.delivery_boy.staff_id.first_name}} {{order.delivery_boy.staff_id.last_name}}
                                            {% endifequal %}
                                        </td>
                                        <td>
                                            <a href="/confirm_order/{{order.id}}">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary {%ifequal order.payment_status 'Completed'%}disabled{%endifequal%}" type="button">Paid</button>
                                                </span>
                                            </a>
                                        </td>
                                        
                                        <td>
                                            <a href="/confirm_delivery/{{order.id}}">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary {%ifequal order.delivery_status 'Completed'%}disabled{%endifequal%}" type="button">Delivered</button>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static '/vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static '/vendor/datatables-plugins/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static '/vendor/datatables-responsive/dataTables.responsive.js'%}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js'%}"></script>

</body>

</html>