{% load staticfiles %} 
{% include "includes/base.html" %} 
{% include "includes/navbarheader.html" %} 
{% include "includes/navtop.html"%} 
{% include "includes/sidemenu.html" %}

        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users Information</h1>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Add User
                    </button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Food Details</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'hotel:add_user' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="first_name">First Name:</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name">Last Name:</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Address:</label>
                                            <input type="text" class="form-control" id="address" name="address">
                                        </div>
                                        <div class="form-group">
                                            <label for="contact">Contact:</label>
                                            <input type="number" class="form-control" id="contact" name="contact">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm_password">Confirm Password:</label>
                                            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    {% if error_msg %}
                    <div class="alert alert-danger">
                      {{error_msg}}
                    </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List of all Users Signed In
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{user.id}}</td>
                                        <td>{{user.customer.first_name}}</td>
                                        <td>{{user.customer.last_name}}</td>
                                        <td>{{user.customer.email}}</td>
                                        <td>{{user.contact}}</td>
                                        <td>{{user.address}}</td>
                                        <td>{% if user.status == 'Verified' %}
                                        <span class="label label-success">Verified</span>
                                        {% else %}
                                        <span class="label label-danger">Pending</span>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    
    <!-- DataTables JavaScript -->
    <script src="{% static '/vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static '/vendor/datatables-plugins/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static '/vendor/datatables-responsive/dataTables.responsive.js'%}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js'%}"></script>

</body>

</html>
